body {
    height: 100vh;
    background: #9b1781;
    background: -moz-linear-gradient(45deg, #9b1781 0%, #cf0b0b 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #9b1781), color-stop(100%,#cf0b0b));
    background: -webkit-linear-gradient(45deg, #9b1781 0%,#cf0b0b 100%);
    background: -o-linear-gradient(45deg, #9b1781 0%,#cf0b0b 100%);
    background: -ms-linear-gradient(45deg, #9b1781 0%,#cf0b0b 100%);
    background: linear-gradient(45deg, #9b1781 0%,#cf0b0b 100%);
    overflow: hidden;
}

.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}

#musiqueue {
    font-weight: 100;
}

#response {
    margin-left: -150px;
    width: 300px;
    position: fixed;
    top: 150px;
    left: 50%;
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
}

.vis {
    opacity: 1!important;
}

#content {
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    height: 350px;
    background-color: rgba(238,238,238, .5);
    border-radius: 7px;
    transition: .5s;
    -webkit-transition: .5s;
}

#info {
    width: 800px;
    margin: 0 auto;
    position: relative;
    height: 350px;
    top: 100px;
    padding: 30px;
    background-color: rgba(238,238,238, .5);
    border-radius: 7px;
}

#content h3 {
    font-weight: 200;
    margin-top: -10px;
    margin-bottom: 25px;
}

h3 {
    font-weight: 200;
}

p {
    text-align: justify;
}

a.event:hover {
    background-color: #D2322D!important;
}

.flipper {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: .8em;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
}
.flipper:hover {
    color: white;
}

/* FLIPPING */
.flip-container {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
.flip-wrapper {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.5s linear;
    -ms-transform-style: preserve-3d;
    -ms-transition: all 0.5s linear;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.flip-wrapper .front,
.flip-wrapper .back {
    -webkit-backface-visibility: hidden!important;
    -ms-backface-visibility: hidden!important;
    backface-visibility: hidden!important;
    -moz-backface-visibility:hidden!important;
}

.flip-wrapper .back {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.flip-wrapper.flipped {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.front *, .back * {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility:hidden;
}